<nav class="navbar navbar-expand-lg" id="header">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../assets/img/logo_white_large.png" width="200px"/></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Accueil</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="choixchamp">Championnat</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="todaymatch">Matchs du jour</a>
          </li>

          <!--
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Messages</a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Inbox</a>
                    <a href="#" class="dropdown-item">Drafts</a>
                    <a href="#" class="dropdown-item">Sent Items</a>
                <div class="dropdown-divider"></div>
                    <a href="#"class="dropdown-item">Trash</a>
                </div>
            </li>     

          -->
                

            
        </ul>  

        

        <!--

<form class="d-flex" style="position: absolute; left: 850px">
          <input class="form-control me-2" type="search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" style="margin-right: 500px;">Recherche</button>
        </form>
        -->
        <div *ngIf="connect==null">
          <button class="btn btn-outline-success" id="connect"><a href="login">Connexion</a></button>
          <button class="btn btn-outline-success" style="margin-left: 10px;" id="inscript"><a href="inscription">Inscription</a></button>
        </div>
        <div *ngIf="connect!=null" style="margin-right: 10px;">
            <button class="btn btn-outline-success" id="use">{{connect}}</button>
        </div>
        <div *ngIf="connect!=null" >
          <form (ngSubmit)="signOut()" class="d-flex">
            <button class="btn btn-outline-success" id="disconnect" type="submit">Deconnexion</button>
          </form>
         </div>
       
        
       
      </div>
    </div>
  </nav>