<div>

    <div class="container">
        <img src="{{ligue1.league.logo}}">
        <a [routerLink]="['/classement/', ligue1.league.id]">Go to</a>
    </div>
    
    <div class="container">
        <img src="{{bundes.league.logo}}">
        <a [routerLink]="['/classement/', bundes.league.id]">Go to</a>
    </div>
    
    
    <div class="container">
        <img src="{{liga.league.logo}}">
        <a  [routerLink]="['/classement/', liga.league.id]">Go to</a>
    </div>
    
    <div class="container">
        <img src="{{serie.league.logo}}" >
        <a [routerLink]="['/classement/', serie.league.id]">Go to</a>
    </div>
    
    <div class="container">
        <img src="{{premier.league.logo}}">
        <a [routerLink]="['/classement/', premier.league.id]">Go to</a>
    </div>
    
    
    
    
    
    
    
    
    
    
    </div>
    