
<div class="">
    <div class="container" style="align-items: center; margin-top: 20px; margin-bottom: 20px;">
        <div class="row">
            <select>
                <option value="yesterday">Hier</option>
                <option value="{{todayDate}}" selected>Aujourd'hui</option>
                <option value="tomorrow">Demain</option>
              </select>
        </div>
    </div>
</div>
    

    <div *ngIf="fixturesFrance.length > 0" class="container" id="match_france">
        <div *ngFor="let match of fixturesFrance">
            <div class="row">
                <div class="container">
                    <div class="match">
                        <div class="match-header">
                            <div class="match-tournament"><img src="{{match.league.logo}}" />Ligue 1</div>
                        </div>
                        <div class="match-content">
                            <div class="column">
                                <div class="team team--home">
                                    <div class="team-logo">
                                        <img src="{{match.teams.home.logo}}" />
                                    </div>
                                    <h2 class="team-name">{{match.teams.home.name}}</h2>
                                </div>
                            </div>
                            <div class="column">
                                <div class="match-details">
                                    <div class="match-date">
                                        <strong> {{match.fixture.date | date:'dd-MM-yyyy'}}</strong>
                                    </div>
                                    <div class="match-score">
                                        <div *ngIf="match.fixture.status.short=='NS'">
                                            <span class="match-score-number match-score-number--leading">0</span>
                                            <span class="match-score-divider">:</span>
                                            <span class="match-score-number">0</span>
                                        </div>
                                        <div *ngIf="match.fixture.status.short!='NS'">
                                            <span class="match-score-number match-score-number--leading">{{match.score.fulltime.home}}</span>
                                            <span class="match-score-divider">:</span>
                                            <span class="match-score-number">{{match.score.fulltime.away}}</span>
                                        </div>
                                    </div>
                                    <div class="match-time-lapsed">
                                        <a *ngIf="match.fixture.status.long != 'Match Finished'" [routerLink]="['/fixture/', match.teams.away.id, match.teams.home.id,match.fixture.id]" style="align-items: center;">{{match.fixture.date | date:'HH:mm'}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="team team--away">
                                    <div class="team-logo">
                                        <img src="{{match.teams.away.logo}}" />
                                    </div>
                                    <h2 class="team-name">{{match.teams.away.name}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div> 
    </div>
        

<br>
<div *ngIf="fixturesAngleterre.length > 0" class="container" id="match_angleterre">
    <div *ngFor="let match of fixturesAngleterre">
        <div class="row">
            <div class="container">
                <div class="match">
                    <div class="match-header">
                        <div class="match-tournament"><img src="{{match.league.logo}}" />Premier League</div>
                    </div>
                    <div class="match-content">
                        <div class="column">
                            <div class="team team--home">
                                <div class="team-logo">
                                    <img src="{{match.teams.home.logo}}" />
                                </div>
                                <h2 class="team-name">{{match.teams.home.name}}</h2>
                            </div>
                        </div>
                        <div class="column">
                            <div class="match-details">
                                <div class="match-date">
                                    <strong> {{match.fixture.date | date:'dd-MM-yyyy'}}</strong>
                                </div>
                                <div class="match-score">
                                    <div *ngIf="match.fixture.status.short=='NS'">
                                        <span class="match-score-number match-score-number--leading">0</span>
                                        <span class="match-score-divider">:</span>
                                        <span class="match-score-number">0</span>
                                    </div>
                                    <div *ngIf="match.fixture.status.short!='NS'">
                                        <span class="match-score-number match-score-number--leading">{{match.score.fulltime.home}}</span>
                                        <span class="match-score-divider">:</span>
                                        <span class="match-score-number">{{match.score.fulltime.away}}</span>
                                    </div>
                                </div>
                                <div class="match-time-lapsed">
                                    <a *ngIf="match.fixture.status.long != 'Match Finished'" [routerLink]="['/fixture/', match.teams.away.id, match.teams.home.id,match.fixture.id]" style="align-items: center;">{{match.fixture.date | date:'HH:mm'}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="team team--away">
                                <div class="team-logo">
                                    <img src="{{match.teams.away.logo}}" />
                                </div>
                                <h2 class="team-name">{{match.teams.away.name}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div> 
</div>
   <br> 
 <div *ngIf="fixturesItalie.length > 0" class="container" id="match_italie">
        <div *ngFor="let match of fixturesItalie">
            <div class="row">
                <div class="container">
                    <div class="match">
                        <div class="match-header">
                            <div class="match-tournament"><img src="{{match.league.logo}}" />Serie A</div>
                        </div>
                        <div class="match-content">
                            <div class="column">
                                <div class="team team--home">
                                    <div class="team-logo">
                                        <img src="{{match.teams.home.logo}}" />
                                    </div>
                                    <h2 class="team-name">{{match.teams.home.name}}</h2>
                                </div>
                            </div>
                            <div class="column">
                                <div class="match-details">
                                    <div class="match-date">
                                        <strong> {{match.fixture.date | date:'dd-MM-yyyy'}}</strong>
                                    </div>
                                    <div class="match-score">
                                        <div *ngIf="match.fixture.status.short=='NS'">
                                            <span class="match-score-number match-score-number--leading">0</span>
                                            <span class="match-score-divider">:</span>
                                            <span class="match-score-number">0</span>
                                        </div>
                                        <div *ngIf="match.fixture.status.short!='NS'">
                                            <span class="match-score-number match-score-number--leading">{{match.score.fulltime.home}}</span>
                                            <span class="match-score-divider">:</span>
                                            <span class="match-score-number">{{match.score.fulltime.away}}</span>
                                        </div>
                                    </div>
                                    <div class="match-time-lapsed">
                                        <a *ngIf="match.fixture.status.long != 'Match Finished'" [routerLink]="['/fixture/', match.teams.away.id, match.teams.home.id,match.fixture.id]" style="align-items: center;">{{match.fixture.date | date:'HH:mm'}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="team team--away">
                                    <div class="team-logo">
                                        <img src="{{match.teams.away.logo}}" />
                                    </div>
                                    <h2 class="team-name">{{match.teams.away.name}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div> 
</div>

<div *ngIf="fixturesEspagne.length > 0 " class="container" id="match_espagne">
    <div *ngFor="let match of fixturesEspagne">
        <div class="row">
            <div class="container">
                <div class="match">
                    <div class="match-header">
                        <div class="match-tournament"><img src="{{match.league.logo}}" />Liga</div>
                    </div>
                    <div class="match-content">
                        <div class="column">
                            <div class="team team--home">
                                <div class="team-logo">
                                    <img src="{{match.teams.home.logo}}" />
                                </div>
                                <h2 class="team-name">{{match.teams.home.name}}</h2>
                            </div>
                        </div>
                        <div class="column">
                            <div class="match-details">
                                <div class="match-date">
                                    <strong> {{match.fixture.date | date:'dd-MM-yyyy'}}</strong>
                                </div>
                                <div class="match-score">
                                    <div *ngIf="match.fixture.status.short=='NS'">
                                        <span class="match-score-number match-score-number--leading">0</span>
                                        <span class="match-score-divider">:</span>
                                        <span class="match-score-number">0</span>
                                    </div>
                                    <div *ngIf="match.fixture.status.short!='NS'">
                                        <span class="match-score-number match-score-number--leading">{{match.score.fulltime.home}}</span>
                                        <span class="match-score-divider">:</span>
                                        <span class="match-score-number">{{match.score.fulltime.away}}</span>
                                    </div>
                                </div>
                                <div class="match-time-lapsed">
                                    <a *ngIf="match.fixture.status.long != 'Match Finished'" [routerLink]="['/fixture/', match.teams.away.id, match.teams.home.id,match.fixture.id]" style="align-items: center;">{{match.fixture.date | date:'HH:mm'}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="team team--away">
                                <div class="team-logo">
                                    <img src="{{match.teams.away.logo}}" />
                                </div>
                                <h2 class="team-name">{{match.teams.away.name}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div> 
</div>

<div *ngIf="fixturesAllemagne.length > 0" class="container" id="match_allemagne">
    <div *ngFor="let match of fixturesAllemagne">
        <div class="row">
            <div class="container">
                <div class="match">
                    <div class="match-header">
                        <div class="match-tournament"><img src="{{match.league.logo}}" />Busdesliga</div>
                    </div>
                    <div class="match-content">
                        <div class="column">
                            <div class="team team--home">
                                <div class="team-logo">
                                    <img src="{{match.teams.home.logo}}" />
                                </div>
                                <h2 class="team-name">{{match.teams.home.name}}</h2>
                            </div>
                        </div>
                        <div class="column">
                            <div class="match-details">
                                <div class="match-date">
                                    <strong> {{match.fixture.date | date:'dd-MM-yyyy'}}</strong>
                                </div>
                                <div class="match-score">
                                    <div *ngIf="match.fixture.status.short=='NS'">
                                        <span class="match-score-number match-score-number--leading">0</span>
                                        <span class="match-score-divider">:</span>
                                        <span class="match-score-number">0</span>
                                    </div>
                                    <div *ngIf="match.fixture.status.short!='NS'">
                                        <span class="match-score-number match-score-number--leading">{{match.score.fulltime.home}}</span>
                                        <span class="match-score-divider">:</span>
                                        <span class="match-score-number">{{match.score.fulltime.away}}</span>
                                    </div>
                                </div>
                                <div class="match-time-lapsed">
                                    <a *ngIf="match.fixture.status.long != 'Match Finished'" [routerLink]="['/fixture/', match.teams.away.id, match.teams.home.id,match.fixture.id]" style="align-items: center;">{{match.fixture.date | date:'HH:mm'}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="team team--away">
                                <div class="team-logo">
                                    <img src="{{match.teams.away.logo}}" />
                                </div>
                                <h2 class="team-name">{{match.teams.away.name}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div> 
</div>





    







   
    
 
<section id="france">

</section>
<!--
<div>
    <table>
        <tbody>
            <tr *ngFor="let fix of fixtures">
                <td type="datetime" data-date-format="DD MM YYYY">
                    {{ date_Value | date [ : format [ : timeZone [ : locale ] ] ] }} 
                    {{fix.fixture.date | date:'dd-MM-yyyy'}}
                </td>
                <td>
                    <a [routerLink]="['/team/', fix.teams.home.id]">{{fix.teams.home.name}}</a>
                </td>
                <td>
                   <img src="{{match.teams.home.logo}}" style="width: 40px;"> 
                </td>
                <td>
                    <a [routerLink]="['/fixture/', fix.fixture.id]">{{fix.score.fulltime.home}} : {{fix.score.fulltime.away}}</a>
                </td>
                <td>
                    <img src="{{match.teams.away.logo}}" style="width: 40px;">
                </td>
                <td>
                    <a [routerLink]="['/team/', match.teams.away.id]">{{match.teams.away.name}}</a>
                </td>
                <td>
                    {{fix.fixture.date | date:'HH:mm'}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
-->