.chartBox {
  width: 400px;
  height: 400px;
}

#terrain_compo {
  position: relative;
}

#recap {
  font-weight: bold;
}

#h2h_id img{
  width: 50px;
  height: 50px;
}

#stats img {
  width: 50px;
  height: 50px;
}

#stats_id{

}

#stats {
  margin-left: 450px
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead {
  background: linear-gradient(59deg, #3A6073, #16222A);
  color: #ffffff;
  text-align: center;
  align-items: left;
  font-weight: bold;
}

.content-table img {
  height: 20px;
  width: 50px;
}

.content-table tr {
  text-align: center;
  font-weight: bold;
}


.content-table th,
.content-table td {
  padding: 12px 15px;
}



.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #16222A;
}

.content-table tbody tr:hover {
  font-weight: bold;
  color:#EB9928;
}

 a{
   color: white;
 }
/* ------------------------- 5-4-1 HOME --------------------*/
#chronologie {
  margin-left: 450px;
}
/* Gardien */
#h5-4-1_11 {
  position: absolute; 
  top: 45%; 
  left: 0%; 
  z-index: 1;
  font-weight: bold;
}

/* Central gauche */
#h5-4-1_21 {
  position: absolute; 
  top: 25%; 
  left: 15%; 
  z-index: 1;
  font-weight: bold;
}

/* Arriere droit */
#h5-4-1_22 {
  position: absolute; 
  top:85%; 
  left: 20%; 
  z-index: 1;
  font-weight: bold;
}

/* Arriere gauche */
#h5-4-1_23 {
  position: absolute; 
  top: 5%; 
  left: 20%; 
  z-index: 1;
  font-weight: bold;
}
/* Central central */
#h5-4-1_24 {
  position: absolute; 
  top: 45%; 
  left: 15%; 
  z-index: 1;
  font-weight: bold;
}
/* Central droit */
#h5-4-1_25 {
  position: absolute; 
  top: 65%; 
  left: 15%; 
  z-index: 1;
  font-weight: bold;
}
/* Milieu central gauche*/
#h5-4-1_34 {
  position: absolute; 
  top: 30%; 
  left: 30%; 
  z-index: 1;
  font-weight: bold;
}
/* Milieu central droit */
#h5-4-1_33 {
  position: absolute; 
  top: 60%; 
  left: 30%; 
  z-index: 1;
  font-weight: bold;
}
/* Milieu droit */
#h5-4-1_32 {
  position: absolute; 
  top: 80%; 
  left: 30%; 
  z-index: 1;
  font-weight: bold;
}
/* Milieu gauche */
#h5-4-1_31 {
  position: absolute; 
  top: 10%; 
  left: 30%; 
  z-index: 1;
  font-weight: bold;
}
/* Attaquant pointe seul */
#h5-4-1_41 {
  position: absolute; 
  top: 45%; 
  left: 45%; 
  z-index: 1;
  font-weight: bold;
}

/*---------------------------------------------------------*/

/*----------------- 4-4-2 AWAY -------------------*/
/* Gardien */
#a4-4-2_11 {
  position: absolute; 
  top: 45%; 
  left: 100%; 
  z-index: 1;
  font-weight: bold;
}

/* Arriere droit */ 
#a4-4-2_21 {
  position: absolute; 
  top: 10%; 
  left: 85%; 
  z-index: 1;
  font-weight: bold;
}
/*Central Gauche*/
#a4-4-2_24 {
  position: absolute; 
  top: 30%; 
  left: 85%; 
  z-index: 1;
  font-weight: bold;
}
/*Central droit*/
#a4-4-2_22 {
  position: absolute; 
  top: 60%; 
  left: 85%; 
  z-index: 1;
  font-weight: bold;
}

/* Arriere gauche */ 
#a4-4-2_23 {
  position: absolute; 
  top: 80%; 
  left: 85%; 
  z-index: 1;
  font-weight: bold;
}

/* Milieu central gauche */ 
#a4-4-2_32 {
  position: absolute; 
  top: 60%; 
  left: 70%; 
  z-index: 1;
  font-weight: bold;
}

/* Milieu central droit */ 
#a4-4-2_33 {
  position: absolute; 
  top: 30%; 
  left: 70%; 
  z-index: 1;
  font-weight: bold;
}

/* Milieu droit */ 
#a4-4-2_34 {
  position: absolute; 
  top: 10%; 
  left: 70%; 
  z-index: 1;
  font-weight: bold;
}

/* Milieu gauche */ 
#a4-4-2_31 {
  position: absolute; 
  top: 80%; 
  left: 70%; 
  z-index: 1;
  font-weight: bold;
}

/* Attaquant gauche */ 
#a4-4-2_41 {
  position: absolute; 
  top: 55%; 
  left: 55%; 
  z-index: 1;
  font-weight: bold;
}

/* Attaquant droit */ 
#a4-4-2_42 {
  position: absolute; 
  top: 35%; 
  left: 55%; 
  z-index: 1;
  font-weight: bold;
}


/* --------------------------- 4-4-2 Home ---------------------- */


/* Gardien */
#h4-4-2_11 {
  position: absolute; 
  top: 88%; 
  left: 20%; 
  z-index: 1;
  font-weight: bold;
}

/* Arriere droit */ 
#h4-4-2_21 {
  position: absolute; 
  top: 52%; 
  left: 26%; 
  z-index: 1;
  font-weight: bold;
}
/*Central Gauche*/
#h4-4-2_24 {
  position: absolute; 
  top: 70%; 
  left: 26%; 
  z-index: 1;
  font-weight: bold;
}
/*Central droit*/
#h4-4-2_22 {
  position: absolute; 
  top: 100%; 
  left: 26%; 
  z-index: 1;
  font-weight: bold;
}

/* Arriere gauche */ 
#h4-4-2_23 {
  position: absolute; 
  top: 120%; 
  left: 26%; 
  z-index: 1;
  font-weight: bold;
}

/* Milieu central gauche */ 
#h4-4-2_32 {
  position: absolute; 
  top: 96%; 
  left: 36%; 
  z-index: 1;
  font-weight: bold;
}

/* Milieu central droit */ 
#h4-4-2_33 {
  position: absolute; 
  top: 76%; 
  left: 36%; 
  z-index: 1;
  font-weight: bold;
}

/* Milieu droit */ 
#h4-4-2_34 {
  position: absolute; 
  top: 60%; 
  left: 36%; 
  z-index: 1;
  font-weight: bold;
}

/* Milieu gauche */ 
#h4-4-2_31 {
  position: absolute; 
  top: 112%; 
  left: 36%; 
  z-index: 1;
  font-weight: bold;
}

/* Attaquant gauche */ 
#h4-4-2_41 {
  position: absolute; 
  top: 100%; 
  left: 44%; 
  z-index: 1;
  font-weight: bold;
}

/* Attaquant droit */ 
#h4-4-2_42 {
  position: absolute; 
  top: 70%; 
  left: 44%; 
  z-index: 1;
  font-weight: bold;
}

/* ------------------------- 4-2-2-2 AWAY --------------------*/

/* Gardien */
#a4-2-2-2_11 {
  position: relative; 
  top: 70%; 
  left: 20%; 
  z-index: 1;
  font-weight: bold;
}

/* Central gauche */
#a4-2-2-2_21 {
  position: absolute; 
  top: 70%; 
  left: 25%; 
  z-index: 1;
  font-weight: bold;
}

/* Arriere droit */
#a4-2-2-2_22 {
  position: absolute; 
  top: 120%; 
  left: 30%; 
  z-index: 1;
  font-weight: bold;
}

/* Arriere gauche */
#a4-2-2-2_23 {
  position: absolute; 
  top: 52%; 
  left: 30%; 
  z-index: 1;
  font-weight: bold;
}
/* Central central */
#a4-2-2-2_24 {
  position: absolute; 
  top: 86%; 
  left: 25%; 
  z-index: 1;
  font-weight: bold;
}
/* Central droit */
#h4-2-2-2_25 {
  position: absolute; 
  top: 102%; 
  left: 25%; 
  z-index: 1;
  font-weight: bold;
}
/* Milieu central gauche*/
#a4-2-2-2_34 {
  position: absolute; 
  top: 76%; 
  left: 35%; 
  z-index: 1;
  font-weight: bold;
}
/* Milieu central droit */
#a4-2-2-2_33 {
  position: absolute; 
  top: 96%; 
  left: 35%; 
  z-index: 1;
  font-weight: bold;
}
/* Milieu droit */
#a4-2-2-2_32 {
  position: absolute; 
  top: 112%; 
  left: 35%; 
  z-index: 1;
  font-weight: bold;
}
/* Milieu gauche */
#a4-2-2-2_31 {
  position: absolute; 
  top: 60%; 
  left: 35%; 
  z-index: 1;
  font-weight: bold;
}
/* Attaquant pointe seul */
#a4-2-2-2_41 {
  position: absolute; 
  top: 86%; 
  left: 45%; 
  z-index: 1;
  font-weight: bold;
}


/*----------------- 4-3-3 HOME -------------------*/
/* Gardien */
#h4-3-3_11 {
  position: absolute; 
  top: 45%; 
  left: 0%; 
  z-index: 1;
  font-weight: bold;
}

/* Arriere droit */ 
#h4-3-3_21 {
  position: absolute; 
  top: 80%; 
  left: 15%; 
  z-index: 1;
  font-weight: bold;
}
/*Central Gauche*/
#h4-3-3_24 {
  position: absolute; 
  top: 30%; 
  left: 15%; 
  z-index: 1;
  font-weight: bold;
}
/*Central droit*/
#h4-3-3_22 {
  position: absolute; 
  top: 60%; 
  left: 15%; 
  z-index: 1;
  font-weight: bold;
}

/* Arriere gauche */ 
#h4-3-3_23 {
  position: absolute; 
  top: 10%; 
  left: 15%; 
  z-index: 1;
  font-weight: bold;
}

/* Milieu central gauche */ 
#h4-3-3_32 {
  position: absolute; 
  top: 20%; 
  left: 30%; 
  z-index: 1;
  font-weight: bold;
}

/* Milieu central  */ 
#h4-3-3_33 {
  position: absolute; 
  top: 45%; 
  left: 30%; 
  z-index: 1;
  font-weight: bold;
}

/* Milieu central droit */ 
#h4-3-3_31 {
  position: absolute; 
  top: 70%; 
  left: 30%; 
  z-index: 1;
  font-weight: bold;
}

/* Attaquant droit */ 
#h4-3-3_41 {
  position: absolute; 
  top: 70%; 
  left: 45%; 
  z-index: 1;
  font-weight: bold;
}

/* Attaquant gauche */ 
#h4-3-3_42 {
  position: absolute; 
  top: 20%; 
  left: 45%; 
  z-index: 1;
  font-weight: bold;
}

/* Attaquant pointe */ 
#h4-3-3_43 {
  position: absolute; 
  top: 45%; 
  left: 45%; 
  z-index: 1;
  font-weight: bold;
}
