<html>

<head>
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/html/css/classement.css" />
</head>

<body>
  <section class="content-info">
    <div class="container" id="nom_ligue">
      <div class="row justify-content-center" style="text-align: center;">
        <h2>Classement {{ response.league.name }}</h2>
        <img src="{{ response.league.logo }}" style="width: 100px; height: 100px; margin-top: 20px;" />
      </div>
    </div>

    <div class="navbar navbar-light navbar-expand-md" style="align-content: center;">
      <div class="container">
        <div class="d-flex justify-content-between w-100">
          <ul class="navbar-nav w-100" style="background-color: #D3FBD8; border-radius: 2em; font-weight: bold;">
            <li class="nav-item text-center col-3">
              <a class="nav-link" [ngClass]="{ active: activeTab.tab_class }" (click)="
                    activeTab.tab_class = !activeTab.tab_class;
                    activeTab.calendar = false;
                    activeTab.xitype = false;
                    activeTab.stats = false
                  ">
                Classement
              </a>
            </li>
            <li class="nav-item text-center col-3">
              <a class="nav-link" [ngClass]="{ active: activeTab.stats }" (click)="
                    activeTab.stats = !activeTab.stats;
                    activeTab.xitype = false;
                    activeTab.tab_class = false;
                    activeTab.calendar = false;
                  ">
                Stats
              </a>
            </li>
            <li class="nav-item text-center col-3">
              <a class="nav-link" [ngClass]="{ active: activeTab.xitype }" (click)="
                    activeTab.xitype = !activeTab.xitype;
                    activeTab.tab_class = false;
                    activeTab.stats = false;
                    activeTab.calendar = false;
                  ">
                XI Type de l'année
              </a>
            </li>
            <li class="nav-item text-center col-3">
              <a class="nav-link" [ngClass]="{ active: activeTab.calendar }" (click)="
                    activeTab.calendar = !activeTab.calendar;
                    activeTab.xitype = false;
                    activeTab.tab_class = false;
                    activeTab.stats = false
                  ">
                Calendrier
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div *ngIf="activeTab.tab_class" class="container" id="tab_class">
      <div class="row">
        <div class="col-12">
          <table class="content-table" id="classement">
            <thead>
              <tr>
                <th>Classement</th>
                <th>Nom equipe</th>
                <th>Points</th>
                <th>Matchs joués</th>
                <th>Matchs gagnés</th>
                <th>Matchs perdus</th>
                <th>Matchs nuls</th>
                <th>Goalaverage</th>
                <th>Forme</th>
              </tr>
            </thead>
            <tbody id="bodyTableau" class="text-center">
              <tr *ngFor="let team of teams" id="_{{team.rank}}_{{response.league.id}}">
                <td>{{ team.rank }}</td>
                <td>
                  <a [routerLink]="['/team/', team.team.id]">{{
                    team.team.name
                    }}</a>
                </td>
                <td>{{ team.points }}</td>
                <td>{{ team.all.played }}</td>
                <td>{{ team.all.win }}</td>
                <td>{{ team.all.lose }}</td>
                <td>{{ team.all.draw }}</td>
                <td>{{ team.goalsDiff }}</td>
                <td>{{ team.form }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-1">
            <div id="carreChLeague" style="display: block;"></div>
          </div>
          <div class="col-4">
            <div style="font-weight: bold; margin-left: -50px;">Qualification en Ligue des Champions</div>
          </div>
        </div>
        <div class="row" *ngIf="response.league.id == 61">
          <div class="col-1">
            <div id="carre3eme" style="display: block;"></div>
          </div>
          <div class="col-4">
            <div style="font-weight: bold; margin-left: -50px;">Qualification en tour préliminaire de la Ligue des
              Champions</div>
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <div id="carreEuLeague" style="display: block;"></div>
          </div>
          <div class="col-4">
            <div style="font-weight: bold; margin-left: -50px;">Qualification en Ligue Europa</div>
          </div>
        </div>
        <div class="row" *ngIf="response.league.id == 78 || response.league.id == 61">
          <div class="col-1">
            <div id="carreBar" style="display: block;"></div>
          </div>
          <div class="col-4">
            <div style="font-weight: bold; margin-left: -50px;">Barrage pour descente en division inférieure</div>
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <div id="carreRel" style="display: block;"></div>
          </div>
          <div class="col-4">
            <div style="font-weight: bold; margin-left: -50px;">Relégation en division inférieure</div>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="activeTab.xitype" class="container" id="xitype">
      <div class="row">
        <section id="xi_type" style="margin-top: 50px">
          <div class="row">
            <span style="text-align: center; font-weight: bold">Onze type de {{ response.league.name }}</span>
          </div>
          <div id="terrain" style="margin-left: -200px">
            <img src="../assets/img/demiterrain.png" style="width: 1560px;" />
          </div>
          <div *ngFor="let attack of XIAttack">
            <div id="{{ attack.id_class }}" class="text-center">
              <div class="container" id="contour">
                <div class="row">
                  <div>
                    <img src="{{ attack.logo }}" class="text-center" style="width: 50px; margin-top: 10px" />
                  </div>
                </div>
                <div class="row">
                  <h5 style="font-size: 0.8em; font-weight: bold">
                    {{ attack.team }}
                  </h5>
                </div>
                <div class="row">
                  <p style="font-size: 0.8em; font-weight: bold">
                    {{ attack.name }}
                  </p>
                </div>
                <div class="row" style="font-size: 0.8em; font-weight: bold">
                  <p>{{ attack.note }}</p>
                </div>
              </div>
            </div>
          </div>
          <div *ngFor="let mid of XIMidfield">
            <div id="{{ mid.id_class }}" class="text-center">
              <div class="container" id="contour">
                <div class="row">
                  <div>
                    <img src="{{ mid.logo }}" class="text-center" style="width: 50px; margin-top: 10px" />
                  </div>
                </div>
                <div class="row">
                  <h5 style="font-size: 0.8em; font-weight: bold">
                    {{ mid.team }}
                  </h5>
                </div>
                <div class="row">
                  <p style="font-size: 0.8em; font-weight: bold">{{ mid.name }}</p>
                </div>
                <div class="row" style="font-size: 0.8em; font-weight: bold">
                  <p>{{ mid.note }}</p>
                </div>
              </div>
            </div>
          </div>
          <div *ngFor="let def of XIDefend">
            <div id="{{ def.id_class }}" class="text-center">
              <div class="container" id="contour">
                <div class="row">
                  <div>
                    <img src="{{ def.logo }}" class="text-center" style="width: 50px; margin-top: 10px" />
                  </div>
                </div>
                <div class="row">
                  <h5 style="font-size: 0.8em; font-weight: bold">
                    {{ def.team }}
                  </h5>
                </div>
                <div class="row">
                  <p style="font-size: 0.8em; font-weight: bold">{{ def.name }}</p>
                </div>
                <div class="row" style="font-size: 0.8em; font-weight: bold">
                  <p>{{ def.note }}</p>
                </div>
              </div>
            </div>
          </div>

          <div *ngFor="let g of XIGoal">
            <div id="{{ g.id_class }}" class="text-center">
              <div class="container" id="contour">
                <div class="row">
                  <div>
                    <img src="{{ g.logo }}" class="text-center" style="width: 50px; margin-top: 10px" />
                  </div>
                </div>
                <div class="row">
                  <h5 style="font-size: 0.8em; font-weight: bold">{{ g.team }}</h5>
                </div>
                <div class="row">
                  <p style="font-size: 0.8em; font-weight: bold">{{ g.name }}</p>
                </div>
                <div class="row" style="font-size: 0.8em; font-weight: bold">
                  <p>{{ g.note }}</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div *ngIf="activeTab.stats" class="container" id="stats">
      <div class="row">
        <div class="row">
          <span style="text-align: center; font-weight: bold; margin-top: 20px; text-decoration: underline;">Meilleures
            equipes de {{ response.league.name }}</span>
        </div>
        <div style="border: solid; border-radius: 2em; margin-top: 30px;">
          <canvas id="chartbut">{{ chart }}</canvas>
        </div>


        <br />
        <br />

        <div class="row">
          <span style="text-align: center; font-weight: bold; margin-top: 40px; text-decoration: underline;">Meilleurs
            joueurs de {{ response.league.name }}</span>
        </div>

        <section id="scorer">
          <div class="row">
            <div class="container">
              <br />
              <span style="text-align: center; font-weight: bold;">Buteurs</span>
              <table class="content-table" style="width: 100%;">
                <thead>
                  <tr>
                    <th>Joueur</th>
                    <th>Equipe</th>
                    <th>Nombre de buts</th>
                  </tr>
                </thead>
                <tbody id="bodyTableauScorer" class="text-center">
                  <tr *ngFor="let score of scorer">
                    <td>
                      <img src="{{ score.player.photo }}" class="rounded-circle" />
                      <a [routerLink]="['/players/', score.player.id]">{{
                        score.player.name
                        }}</a>
                    </td>
                    <td>
                      <a [routerLink]="['/team/', score.statistics[0].team.id]"><img
                          src="{{ score.statistics[0].team.logo }}" /></a>
                    </td>
                    <td style="font-size: 15px;">
                      {{ score.statistics[0].goals.total }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>

        <section id="assists">
          <div class="row">
            <div class="container">
              <br />
              <span><strong>Passeur</strong></span>
              <table class="content-table" style="width: 100%;">
                <thead>
                  <tr>
                    <th class="stat-title">Joueur</th>
                    <th class="stat-title">Equipe</th>
                    <th class="stat-title">Nombre de Passes Decisives</th>
                  </tr>
                </thead>
                <tbody id="bodyTableauAssist" class="text-center">
                  <tr *ngFor="let assist of assists">
                    <td>
                      <img src="{{ assist.player.photo }}" class="rounded-circle" />
                      <a [routerLink]="['/players/', assist.player.id]">{{
                        assist.player.name
                        }}</a>
                    </td>
                    <td>
                      <a name="top" [routerLink]="['/team/', assist.statistics[0].team.id]"><img
                          src="{{ assist.statistics[0].team.logo }}" /></a>
                    </td>
                    <td style="font-size: 15px;">
                      {{ assist.statistics[0].goals.assists }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>

        <section id="bestplayer">
          <div class="row">
            <div class="container">
              <br />
              <span><strong>Mieux notés</strong></span>
              <table class="content-table" style="width: 100%;">
                <thead>
                  <tr>
                    <th class="stat-title">Joueur</th>
                    <th class="stat-title">Equipe</th>
                    <th>Match joués</th>
                    <th class="stat-title">Note moyenne / match</th>
                  </tr>
                </thead>
                <tbody id="bodyTableauNotes" class="text-center">
                  <tr *ngFor="let player of bestnotes">
                    <td>
                      <img src="{{ player.player.photo }}" class="rounded-circle" />
                      <a [routerLink]="['/players/', player.player.id]">{{
                        player.player.name
                        }}</a>
                    </td>
                    <td>
                      <a name="top" [routerLink]="['/team/', player.statistics[0].team.id]"><img
                          src="{{ player.statistics[0].team.logo }}" /></a>
                    </td>
                    <td style="font-size: 15px;">
                      {{ player.statistics[0].games.appearences }}
                    </td>
                    <td style="font-size: 15px;">
                      {{ player.statistics[0].games.rating }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>

      </div>
    </div>

    <div *ngIf="activeTab.calendar" class="container" id="calendar">
      <div *ngFor="let match of calendrier">
        <div class="row">
          <div class="container">
            <div class="match">
              <div class="match-header">
                <div class="match-tournament"><img src="{{match.league.logo}}" />Ligue 1</div>
              </div>
              <div class="match-content">
                <div class="column">
                  <div class="team team--home">
                    <div class="team-logo">
                      <img src="{{match.teams.home.logo}}" />
                    </div>
                    <h2 class="team-name">{{match.teams.home.name}}</h2>
                  </div>
                </div>
                <div class="column">
                  <div class="match-details">
                    <div class="match-date">
                      <strong> {{match.fixture.date | date:'dd-MM-yyyy'}}</strong>
                    </div>
                    <div class="match-score">
                      <div *ngIf="match.fixture.status.short=='NS'">
                        <span class="match-score-number match-score-number--leading">0</span>
                        <span class="match-score-divider">:</span>
                        <span class="match-score-number">0</span>
                      </div>
                      <div *ngIf="match.fixture.status.short!='NS'">
                        <span
                          class="match-score-number match-score-number--leading">{{match.score.fulltime.home}}</span>
                        <span class="match-score-divider">:</span>
                        <span class="match-score-number">{{match.score.fulltime.away}}</span>
                      </div>
                    </div>
                    <div class="match-time-lapsed">
                      <a *ngIf="match.fixture.status.long != 'Match Finished'"
                        [routerLink]="['/fixture/', match.teams.away.id, match.teams.home.id,match.fixture.id]"
                        style="align-items: center;">{{match.fixture.date | date:'HH:mm'}}</a>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="team team--away">
                    <div class="team-logo">
                      <img src="{{match.teams.away.logo}}" />
                    </div>
                    <h2 class="team-name">{{match.teams.away.name}}</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>


  <!--
 <section id="xi_type" style="margin-top: 50px">
      <div class="row">
        <span style="text-align: center; font-weight: bold"
          >Onze type de {{ response.league.name }}</span
        >
      </div>
      <div id="terrain" style="margin-left: 10%">
        <img src="../assets/img/demiterrain.png" style="width: 1560px" />
      </div>
      <div *ngFor="let attack of XIAttack">
        <div id="{{ attack.id_class }}" class="text-center">
          <div class="container" id="contour">
            <div class="row">
              <div>
                <img
                  src="{{ attack.logo }}"
                  class="text-center"
                  style="width: 50px; margin-top: 10px"
                />
              </div>
            </div>
            <div class="row">
              <h5 style="font-size: 0.8em; font-weight: bold">
                {{ attack.team }}
              </h5>
            </div>
            <div class="row">
              <p style="font-size: 0.8em; font-weight: bold">
                {{ attack.name }}
              </p>
            </div>
            <div class="row" style="font-size: 0.8em; font-weight: bold">
              <p>{{ attack.note }}</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngFor="let mid of XIMidfield">
        <div id="{{ mid.id_class }}" class="text-center">
          <div class="container" id="contour">
            <div class="row">
              <div>
                <img
                  src="{{ mid.logo }}"
                  class="text-center"
                  style="width: 50px; margin-top: 10px"
                />
              </div>
            </div>
            <div class="row">
              <h5 style="font-size: 0.8em; font-weight: bold">
                {{ mid.team }}
              </h5>
            </div>
            <div class="row">
              <p style="font-size: 0.8em; font-weight: bold">{{ mid.name }}</p>
            </div>
            <div class="row" style="font-size: 0.8em; font-weight: bold">
              <p>{{ mid.note }}</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngFor="let def of XIDefend">
        <div id="{{ def.id_class }}" class="text-center">
          <div class="container" id="contour">
            <div class="row">
              <div>
                <img
                  src="{{ def.logo }}"
                  class="text-center"
                  style="width: 50px; margin-top: 10px"
                />
              </div>
            </div>
            <div class="row">
              <h5 style="font-size: 0.8em; font-weight: bold">
                {{ def.team }}
              </h5>
            </div>
            <div class="row">
              <p style="font-size: 0.8em; font-weight: bold">{{ def.name }}</p>
            </div>
            <div class="row" style="font-size: 0.8em; font-weight: bold">
              <p>{{ def.note }}</p>
            </div>
          </div>
        </div>
      </div>

      <div *ngFor="let g of XIGoal">
        <div id="{{ g.id_class }}" class="text-center">
          <div class="container" id="contour">
            <div class="row">
              <div>
                <img
                  src="{{ g.logo }}"
                  class="text-center"
                  style="width: 50px; margin-top: 10px"
                />
              </div>
            </div>
            <div class="row">
              <h5 style="font-size: 0.8em; font-weight: bold">{{ g.team }}</h5>
            </div>
            <div class="row">
              <p style="font-size: 0.8em; font-weight: bold">{{ g.name }}</p>
            </div>
            <div class="row" style="font-size: 0.8em; font-weight: bold">
              <p>{{ g.note }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>

-->


  <link rel="stylesheet" type="css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>