<div class="container" id="infos">

  <div class="card  "  id="cardInfo">
    <div id="logo" class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src={{team.logo}} class="img-fluid"/>
    </div>
  
    <div class="card-body">
      <h5 class="card-title">{{team.name}}</h5>
      <p class="card-text">
        
      </p>
    </div>
  
    <div class="card-footer">
      <ul>
        <li>Club fondé en {{team.founded}}</li>
      </ul>
    </div>
  </div>
  
  <div class="card  " id="stadeInfos">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src={{venue.image}} class="img-fluid" />
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
      </a>
    </div>
  
    <div class="card-body">
      <ul>
        <li>{{venue.name}}</li>
        <li>Capacité : {{venue.capacity}}</li>
        <li>{{venue.city}}</li>
      </ul>
  
    </div>
  </div>

</div>

<div class="container" id="fixture">
  <div class="cadre-table-scroll">
    <table class="table-scroll">
      <thead class="bg-light">
        <tr>
          <th>Journée</th>
          <th>Equipe Domicile</th>
          <th>Resultat</th>
          <th>Equipe exterieure</th>
          <th>Feuille de match</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fix of fixture">
          <td>
            <div class="d-flex align-items-center">
                <p class="fw-bold mb-1">{{fix.league.round}}</p>
            </div>
          </td>
          <td>
            <img
                  src={{fix.teams.home.logo}}
                  alt=""
                  style="width: 45px; height: 45px"
                  class="rounded-circle"
                  />
          </td>
          <td>
            <span class="badge badge-success rounded-pill d-inline">{{fix.score.fulltime.home}} - {{fix.score.fulltime.away}}</span>
          </td>
          <td>
            <img
                  src={{fix.teams.away.logo}}
                  alt=""
                  style="width: 45px; height: 45px"
                  class="rounded-circle"
                  />
          </td>
          <td>
            <a [routerLink]="['/fixture/', fix.fixture.id]">Feuille de match</a>
          </td>
        </tr>
      </tbody>
    </table>
  
  </div>
 
</div>



<div class="container" id="players">
  <div class="cadre-table-scroll">
    <table class="table-scroll">
      <thead class="bg-light">
        <tr>
          <th>Prenom</th>
          <th>Age</th>
          <th>Taille</th>
          <th>Poids</th>
          <th>Nationalité</th>
          <th>Photo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let play of players">
          <td>
            <div class="d-flex align-items-center">
              <a [routerLink]="['/players/', play.player.id]">{{play.player.firstname}} {{play.player.lastname}}</a>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <p class="fw-bold mb-1">{{play.player.age}}</p>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <p class="fw-bold mb-1">{{play.player.height}}</p>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <p class="fw-bold mb-1">{{play.player.weight}}</p>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <p class="fw-bold mb-1">{{play.player.nationality}}</p>
            </div>
          </td>
          <td>
            <img
                  src={{play.player.photo}}
                  alt=""
                  style="width: 45px; height: 45px"
                  class="rounded-circle"
                  />
          </td>
        </tr>
      </tbody>
    </table>
  
  </div>
 
</div>

























<div class="container" id="stats">

<div class="row">
  <div class="col-3">
    <!-- Tab navs -->
    <div
      class="nav flex-column nav-pills text-center"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <a
        class="nav-link active"
        id="v-pills-home-tab"
        data-mdb-toggle="pill"
        href="#v-pills-home"
        role="tab"
        aria-controls="v-pills-home"
        aria-selected="true"
        >Buts</a
      >
      <a
        class="nav-link"
        id="v-pills-profile-tab"
        data-mdb-toggle="pill"
        href="#v-pills-profile"
        role="tab"
        aria-controls="v-pills-profile"
        aria-selected="false"
        onclick="changeClass()"
        >Passes</a
      >
      <a
        class="nav-link"
        id="v-pills-messages-tab"
        data-mdb-toggle="pill"
        href="#v-pills-messages"
        role="tab"
        aria-controls="v-pills-messages"
        aria-selected="false"
        >Messages</a
      >
    </div>
    <!-- Tab navs -->
  </div>

  <div class="col-9">
    <!-- Tab content -->
    <div class="tab-content" id="v-pills-tabContent">
      <div
        class="tab-pane fade show active"
        id="v-pills-home"
        role="tabpanel"
        aria-labelledby="v-pills-home-tab"
      >
      <div class="row">
        <div class="col-sm-6">
            <!--
            <label>chartType (pour proportions):</label><select ng-model="monoChartType">
                <option *ngFor="let ct of monoChartTypes">{{ct}}</option>
            </select><br/>
            -->
            <div class="chart-wrapper">
                <canvas baseChart
                    [datasets]="goalChartData" 
                    [labels]="goalChartLabels" 
                    [type]="goalChartType" >
                </canvas>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
            <!--
            <label>chartType (pour proportions):</label><select ng-model="monoChartType">
                <option *ngFor="let ct of monoChartTypes">{{ct}}</option>
            </select><br/>
            -->
            <div class="chart-wrapper">
                <canvas baseChart
                    [datasets]="goalChartData" 
                    [labels]="goalChartLabels" 
                    [type]="goalChartType" >
                </canvas>
            </div>
        </div>
      </div>
 <!--
      <div class="row">
        <div class="col-sm-6">
           
            <label>chartType (pour proportions):</label><select ng-model="monoChartType">
                <option *ngFor="let ct of monoChartTypes">{{ct}}</option>
            </select><br/>
            
            <div class="chart-wrapper">
                <canvas baseChart
                    [datasets]="minutesChartData" 
                    [labels]="minutesChartLabels" 
                    [type]="minutesChartType" >
                </canvas>
            </div>
        </div>
      </div>
-->
      </div>
      <div
        class="tab-pane fade"
        id="v-pills-profile"
        role="tabpanel"
        aria-labelledby="v-pills-profile-tab"
      >
        Profile content
      </div>
      <div
        class="tab-pane fade"
        id="v-pills-messages"
        role="tabpanel"
        aria-labelledby="v-pills-messages-tab"
      >
        Messages content
      </div>
    </div>
    <!-- Tab content -->
  </div>
</div>
</div>





