<div class="container" id="infos">

  <div class="card  "  id="cardInfo">
    <div id="logo" class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src={{team.logo}} class="img-fluid"/>
    </div>
  
    <div class="card-body">
      <h5 class="card-title">{{team.name}}</h5>
      <p class="card-text">
        
      </p>
    </div>
  
    <div class="card-footer">
      <ul>
        <li>Club fondé en {{team.founded}}</li>
      </ul>
    </div>
  </div>
  
  <div class="card  " id="stadeInfos">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img src={{venue.image}} class="img-fluid" />
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
      </a>
    </div>
  
    <div class="card-body">
      <ul>
        <li>{{venue.name}}</li>
        <li>Capacité : {{venue.capacity}}</li>
        <li>{{venue.city}}</li>
      </ul>
  
    </div>
  </div>

</div>

<div class="container" id="fixture">
  <div class="cadre-table-scroll">
    <table class="table-scroll">
      <thead class="bg-light">
        <tr>
          <th>Journée</th>
          <th>Equipe Domicile</th>
          <th>Resultat</th>
          <th>Equipe exterieure</th>
          <th>Feuille de match</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fix of fixture">
          <td>
            <div class="d-flex align-items-center">
                <p class="fw-bold mb-1">{{fix.league.round}}</p>
            </div>
          </td>
          <td>
            <img
                  src={{fix.teams.home.logo}}
                  alt=""
                  style="width: 45px; height: 45px"
                  class="rounded-circle"
                  />
          </td>
          <td>
            <span class="badge badge-success rounded-pill d-inline">{{fix.score.fulltime.home}} - {{fix.score.fulltime.away}}</span>
          </td>
          <td>
            <img
                  src={{fix.teams.away.logo}}
                  alt=""
                  style="width: 45px; height: 45px"
                  class="rounded-circle"
                  />
          </td>
          <td>
            <a [routerLink]="['/fixture/', fix.fixture.id]">Lien</a>
          </td>
        </tr>
      </tbody>
    </table>
  
  </div>
 
</div>
