<div class="row" style="background: black">
  <div class="row" style="margin-top: 20px; margin-left: 50px;">
    <div class="col-5">
      <a [routerLink]="['/classement/', league.league.id]"><img src={{league.league.logo}} class="img-fluid" /></a>
    </div>
    <div class="col-6">
      <div id="logo">
        <img src={{team.logo}} class="img-fluid" />
      </div>
      <br>
      <div>
        <h5 class="card-title" style="color: white;">{{team.name}}</h5>
      </div>
      <br>
      <div>
        <h5 class="card-title" style="color: white;">Club fondé en {{team.founded}}</h5>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-5">
    <div class="container" style="position: relative">
      <div class="blog-card league" style="background: url({{venue.image}}); background-size: cover;">
        <div class="title-content">
          <h3>{{venue.name}}</h3>
          <hr />
          <div class="intro">{{venue.city}}</div>
        </div> <!--/.title-content -->
        <div class="card-info">
             <br>
             <ul>
               <li>
                 {{venue.capacity}} places assises
               </li>
               <br>
               <li>
                Adresse : {{venue.address}}
              </li>
              <br>
              <li>
                Ville : {{venue.city}}
              </li>
             </ul>
          </div><!-- /.card-info -->
       <!-- <div class="utility-info">
          <ul class="utility-list">
            <li class="comments">12</li>
            <li class="date">03.12.2015</li>
          </ul>
        </div> /.utility-info -->
        <!-- overlays -->
        <div class="gradient-overlay"></div>
        <div class="color-overlay"></div>
    </div><!-- /.blog-card -->
    </div>
  </div>
  <div class="col-7">
    <div class="container" id="fixture" style="align-items: center;">
      <div class="cadre-table-scroll">
        <table class="table-scroll">
          <thead class="bg-light">
            <tr>
              <th>Journée</th>
              <th>Equipe Domicile</th>
              <th>Resultat</th>
              <th>Equipe exterieure</th>
              <th>Feuille de match</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fix of fixture">
              <td>
                <div class="d-flex align-items-center">
                    <p class="fw-bold mb-1">{{fix.league.round}}</p>
                </div>
              </td>
              <td>
                <img
                      src={{fix.teams.home.logo}}
                      alt=""
                      style="width: 45px; height: 45px"
                      class="rounded-circle"
                      />
              </td>
              <td>
                <span class="badge badge-success rounded-pill d-inline">{{fix.score.fulltime.home}} - {{fix.score.fulltime.away}}</span>
              </td>
              <td>
                <img
                      src={{fix.teams.away.logo}}
                      alt=""
                      style="width: 45px; height: 45px"
                      class="rounded-circle"
                      />
              </td>
              <td>
                  <a [routerLink]="['/fixture/', fix.teams.away.id, fix.teams.home.id, fix.fixture.id]">Feuille de match</a>
              </td>
            </tr>
          </tbody>
        </table>
      
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="container" id="players" style="margin-top: 50px;">
      <div class="cadre-table-scroll">
        <table class="table-scroll">
          <thead class="bg-light">
            <tr>
              <th>Prenom</th>
              <th>Age</th>
              <th>Taille</th>
              <th>Poids</th>
              <th>Nationalité</th>
              <th>Photo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let play of players">
              <td>
                <div class="d-flex align-items-center">
                  <a [routerLink]="['/players/', play.player.id]">{{play.player.firstname}} {{play.player.lastname}}</a>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <p class="fw-bold mb-1">{{play.player.age}}</p>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <p class="fw-bold mb-1">{{play.player.height}}</p>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <p class="fw-bold mb-1">{{play.player.weight}}</p>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <p class="fw-bold mb-1">{{play.player.nationality}}</p>
                </div>
              </td>
              <td>
                <img
                      src={{play.player.photo}}
                      alt=""
                      style="width: 45px; height: 45px"
                      class="rounded-circle"
                      />
              </td>
            </tr>
          </tbody>
        </table>
      
      </div>
     
    </div>
  </div>
  <div class="col-sm-6">
    <div class="container">
      <canvas id="pie_min">{{pie_min}}</canvas>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="container">
      <canvas id="bar_fix">{{bar_fixtures}}</canvas>
    </div>
  </div>
  <div class="col-6">
    <div class="container">
      <canvas id="polar_min">{{polar_min}}</canvas>
    </div>
  </div>
</div>
